%h1 Feature Teams

- if @feature_teams.any?
  %table.table.table-hover
    %thead
      %tr
        %th Name
        %th Members
        %th Branch
        %th Room
        %th Server
        %th
        %th
        %th

    %tbody
      - @feature_teams.each do |feature_team|
        %tr
          %td= link_to feature_team.name, feature_team
          %td.center= member_count(feature_team)
          %td= feature_team.branch
          %td= link_to feature_team.room.name, room_path(feature_team.room)
          %td= link_to feature_team.server.hostname, server_path(feature_team.server)
          %td= action_buttons feature_team

- else
  %p No feature teams yet.

%br

= link_to 'New Feature Team', new_feature_team_path
