%p#notice= notice

%p
  %b Name:
  = @feature_team.name
%p
  %b Slug:
  = @feature_team.slug
%p
  %b Branch:
  = @feature_team.branch
%p
  %b Room:
  = @feature_team.room

= link_to 'Edit', edit_feature_team_path(@feature_team)
\|
= link_to 'Back', feature_teams_path
