%h1 Deploys

%table.table.table-hover
  %thead
    %tr
      %th sha
      %th Repository
      %th Branch
      %th Member
      %th Server
      %th Environment

  %tbody
    - @deploys.each do |deploy|
      %tr
        %td= link_to deploy.short_sha, deploy
        %td= link_to deploy.repository.name, deploy.repository
        %td= deploy.branch
        %td= link_to deploy.member.name, deploy.member
        %td= link_to deploy.server.subdomain, deploy.server
        %td= deploy.environment

